.profile-container {
  display: flex;
  flex-direction: column;
  margin: 80px 100px 0 19%;
}

.aisdesmall {
  margin: 100px 100px 0 100px;
}

.basic-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  flex-wrap: wrap;
}

.basic-word {
  color: var(--text);
}

.btns {
  display: flex;
  width: 80%;
  justify-content: flex-end;
  margin-top: 15px;
}

.profile-btn {
  padding: 12px;
  background-color: var(--primary);
  color: #fff;
  border: none;
  border-radius: 15px;
  width: 120px;
}

.label-profile {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.label {
  margin: 5px 0;
}

.admin-profile-table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin-top: 20px;
}

.info-input,
:host ::ng-deep .p-dropdown {
  padding: 12px;
  width: 320px;
  min-height: 50px;
  border-radius: 15px;
  border: 1px solid #e9e9e9;
  margin: 10px 0;
}

:host ::ng-deep .p-dropdown {
  padding: 2px;
}

:host ::ng-deep .p-chips .p-chips-multiple-container {
  min-width: 320px;
}

:host ::ng-deep .p-chips .p-chips-multiple-container .p-chips-token {
  background-color: var(--primary);
}

:host ::ng-deep .p-chips .p-chips-multiple-container:not(.p-disabled).p-focus,
:host ::ng-deep .p-dropdown:not(.p-disabled).p-focus {
  border-color: var(--primary);
}

.admin-profile-three {
  display: flex;
  flex-direction: column;
}

@media (max-width: 800px) {
  .profile-container {
    margin: 100px 0 0 0;
  }

  .basic-info {
    width: 100%;
  }

  .info-input {
    padding: 12px;
  }

  .admin-profile-table {
    margin: auto;
  }

  .basic-info {
    width: 80%;
    margin: auto;
  }
}
